*{
  margin: 0 auto;
}

/* start navbar */
.nested.dropdown {
    &:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      top: -15px;
      margin-left: 100%;
      
    }
    .dropdown-trigger {
      button::after {
        content: '⦠'
      }
      button {
        padding: 0px 0px;
        border: 0px;
        font-size: 14px;
        font-weight: 400;
        height: 2em;
      }
    }
  }
  .navbar-menu a{
    color:#565656;
    font-size: 18px;
    font-weight: 400;
  }
 .navbar-menu{
    margin-left: 20px;
    margin-right: 15px;
 }
  .navbar{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
  }
  .navbar-brand h1{
    font-size:30px;
    color: black;
    font-weight: 700;
  }
  .navbar-brand span{
    color:hsl(348, 100%, 61%);
  }
  /* .navbar-item :after,
.navbar-item:hover {
  transition: all .5s;
  } */
  .navbar-start.navbar-item:hover {
    color:hsl(348, 100%, 61%);
    font-size: large;
  }
/* end navbar */

/* hero section  */
  .hero-body {
    background-color: #EEEEEE;
  }
 /* hero section */

.hero-body img{
  animation: rotate 3s linear 0.3s  infinite ;

}
@keyframes rotate {
  from {transform: rotate(-180deg);}
  to {transform: rotate (180deg);}
  
}
.hero-body h2{
  margin-left: -50px;
}
 /* third section  */
 .third-section  {
  padding-top: 50px;
  padding-bottom: 50px;
 }
 .third-section h5 ,h2 {
  text-align: center;
 }
 .image{
  background-image: url(about.jpg);
  width: 600px;
  height: 700px;
 }
.container-forth{
padding-left: 110px;
padding-right: 110px;
padding-top: 50px;
background-color:#EEEEEE;
padding-bottom: 100px;
}
.container-forth .first{
  background-color: #ff3333;
}
.first h1 {
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.first p{
  font-size: 20px;
  padding-left: 30px;
  padding-bottom: 30px;

}
.first button{
  margin-left: 25%;
  margin-bottom: 30px;
}
.container-forth .column:nth-child(2){
  margin-top: 70px;
}
.container-forth .column:nth-child(3){
  margin-top: 70px;
}
.container-forth .column:nth-child(4){
  margin-top: 70px;
}

.second{
  background-color: #fff;
  width: 200px;

}
.second h2{
  padding-top: 30px;
  padding-bottom: 30px;
}
.second i{
  color: var(--color-primary);
    margin-bottom: 30px;
    font-size: 32px;
    margin-bottom: 30px;
    background: rgba(206, 18, 18, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
.bi::before{
  display: inline-block;
    
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}






.fifth-section{
 background-size:cover;
  background-image: url(stats-bg.jpg);
  opacity: 0.8;
height: 400px;
z-index: 1;
}
.wrapper-fifth {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 375%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
  .container-fifth {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;

}
 span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
 span.text {
  background-color: #555;
  color: #e0e0e0;
  font-size: 2em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 700;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
.wrapper-fifth {
    width: 85vw;
  }
.container-fifth {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper-fifth {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container-fifth {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper-fifth {
    gap: 15px;
  }
 .container-fifth {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}










  /* tabs-panel */
  #tsum-tabs h1 {
    padding: 40px 0;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  #tsum-tabs h5{
   text-align: center;
   margin-top: 10px;
  }
  #tsum-tabs span{
    margin-left: 45%;
    color: #ff3333;
    font-size: 30px;
    
  }
  #tsum-tabs h3{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
  }
  #tsum-tabs h2{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
    color: #ff3333;
  }
  #tsum-tabs p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
  
  #tsum-tabs main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background:#fff;
  }
  
  #tsum-tabs section {
    display: none;
    padding: 20px 0 0 ;
    border-top: 1px solid #ddd;
  }
  
  #tsum-tabs input {
    display: none;
  }
  
  #tsum-tabs label {
    display: inline-block;
    margin: 0 0 -1px 30px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    
  }
  
  #tsum-tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  #tsum-tabs label[for*='1']:before { content: '\f1cb'; }
  #tsum-tabs label[for*='2']:before { content: '\f17d'; }
  #tsum-tabs label[for*='3']:before { content: '\f16b'; }
  #tsum-tabs label[for*='4']:before { content: '\f1a9'; }
  
  #tsum-tabs label:hover {
    color: #888;
    cursor: pointer;
  }
  
  #tsum-tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
  }
  
  #tsum-tabs #tab1:checked ~ #content1,
  #tsum-tabs #tab2:checked ~ #content2,
  #tsum-tabs #tab3:checked ~ #content3,
  #tsum-tabs #tab4:checked ~ #content4 {
    display: block;
  }
  
  @media screen and (max-width: 650px) {
    #tsum-tabs label {
      font-size: 0;
    }
    #tsum-tabs label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    #tsum-tabs label {
      padding: 15px;
    }
  

 }
 .call{
  width: 400px;
  height:100px;
  background-color: aliceblue;
  margin-top: 150%;
  text-align: center;
 }
 .call h1{
  padding-top: 15px;
  font-size: 25px;
 }
 .call span{
  color:hsl(348, 100%, 61%);
  font-size: 25px;
 }
 .cus-plybtn{
  font-size: 60px;
  margin-top: -40%;
  color: white;
  display: grid;
  place-items:center;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to right,hsl(0, 100%, 50%),#ff3333) ;
  color: pointer ;
  animation: pulse 1.3s ease-in-out infinite;

}
.cus-plybtn::before{
  content: "";
  display: inline-block;
  border-left:0.3em solid  ;
  border-top:0.18em solid transparent;
  border-bottom: 0.18em solid transparent;
  transition: all 1.3s ease-in-out infinite;
  margin-right: -0.08em;
}
@keyframes pulse {
  0%{
    box-shadow:0em 0em 0em 0em #815d5f;
  }
  100%{
    box-shadow:0em 0em 0em 0.2em hsl(0, 100%, 75%);
    transform: translateY(10px);
  }
}
.cus-plybtn:hover{
  background-color: #9c5353;
  transition: all 1.3s ease-in-out infinite;
}

/* seven section */



/* .container-testimonial:after,
.container-testimonial:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: default; 
}

.testim {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translatey(-50%);
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
  
		transform: translateY(-50%);
    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: green;
}
    

.testim .arrow.left {
    left: 70px;
}

.testim .arrow.right {
    right: 70px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid green;
    margin: 0 10px;
    cursor: pointer;
    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: green;
    border-color: green;
}

.testim .dots .dot.active {
    
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: green;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #333;
    width: 70%;
    margin: auto;
}

.testim .cont div.active .img img {
             
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
       
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
   
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
        
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
            
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
     
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
       
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
                
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
           
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
             
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
     
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
               
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
                
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
                
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
       
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
              
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
            
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
            
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
      
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
              
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
            
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
                
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
             
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
      
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
             
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
       
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
              
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
       
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
            
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
               
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
      
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
               
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
      
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
               
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
      
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
       
        transform: scale(0);
    }
    
    to {
        opacity: 1;
           
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
       
        transform: scale(0);
    }
    
    to {
        opacity: 1;
              
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
       
        transform: scale(0);
    }
    
    to {
        opacity: 1;
              
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
      
        transform: scale(0);
    }
    
    to {
        opacity: 1;
              
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
            
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
       
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
              
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
       
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
              
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
       
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
            
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}



@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}











 */






/* eight section */

/* nine sction  */

/* ten section */

.form{
  background-color: #F7F7F7;
  text-align: center;
  padding-left: 150px;
  padding-top: 60px;
}
.footer{
  background-color: #1F1F24;
  text-align: center;
}



#preloader{
  background: #F7F7F7 url(5922208e18658f5e83b6ad801b895f71.gif) no-repeat center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

